.main {
  width: 100%;
  height: 70vh;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__content {
  padding: 30px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: solid 1px #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px #00000029;
}

.form {
  width: 500px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.form > div:nth-child(3) {
  margin-bottom: 20px;
}

.form--div {
  width: 370px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  gap: 23px;
}

.form--div--input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.form--input {
  width: 210px;
  height: 35px;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.form--invalid {
  font-size: 12px;
  color: #fa0b0b;
}

.form--btn {
  /*margin-top: 20px;*/
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: #454545;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.form--btn:disabled {
  background: #ffffff;
}

.div-redirect {
  font-size: 13px;
}

.redirect {
  color: #fa0b0b;
}
