.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3e3e3e;
}

.home__wrap {
  width: 100%; /*1200px*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__form-search {
  margin: 20px 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #454545;*/
}

form {
  display: flex;
  align-items: center;
}

.form-input {
  width: 300px;
  height: 40px;
  padding: 0 6px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #58606b;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 4px #00000029;
  border: 0.3px solid #e7ebf0;
  outline: none;
}
.input-btn {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}

.home__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home__card > p {
  width: 100%;
  display: flex;
  justify-content: center;
}
