.container {
  width: 100%;
  height: 100vh;
  /*padding: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__wrap__1 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container__image-box {
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  background: #eaecee;
}

.image > img {
  width: 100%;
  height: 100%;
  background: transparent;
}

.container__box {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box__name {
  font-size: 42px;
}

.container__price-box {
  margin: 7px 0;
}

.container__price-box {
  font-size: 13px;
}

.container__price-box > span > span {
  color: #138d75;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .container__wrap__1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .container__image-box {
    width: 100%;
    height: 500px;
    /* display: flex;
    justify-content: center; */
    background: #eaecee;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .image > img {
    width: 80%;
    height: 80%;
    background: transparent;
  }

  .box__name {
    font-size: 22px;
    font-weight: bold;
  }
}
