.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__wrap {
  /*width: 1200px;*/
  height: 800px;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container__image-box {
  width: 500px;
  height: 500px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.image > img {
  width: 100%;
  height: 100%;
}

.container__box {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__price-box {
  margin: 7px 0;
}

.container__price-box {
  font-size: 10px;
}

.container__price-box > span > span {
  font-size: 20px;
  font-weight: 700;
}
