.navbar {
  /* positioning */
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  z-index: 3;
  /* flexbox stuff */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* cosmetics */
  background-color: #454545;
  color: #ffffff;
  border-radius: 0px 0px 5px 5px;
}

a {
  color: #ffffff;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar__name {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.menu-bars {
  display: none;
  color: #ffffff;
}

.navbar-active {
  display: flex;
}
.navbar__toggle {
  display: none;
}

.navbar__menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar__user {
  margin-right: 20px;
}

.navbar__link {
  width: 122px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* font-weight: 500; */
}

.navbar__link:hover {
  border: 1px solid #ffffff;
  transition: all 0.4s ease;
}

@media screen and (max-width: 600px) {
  .navbar__name {
    font-size: 20px;
  }

  .menu-bars {
    position: absolute;
    right: 10px;
    /* transform: translate(100%); */
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .navbar-active {
    display: none;
  }
}
